<a href="https://colab.research.google.com/github/MCaleroSanchez/M/blob/master/Seminario_Algoritmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algoritmos de optimización - Seminario<br>
**Nombre y Apellidos**: Melanie Calero Sánchez  <br>
Url: https://github.com/.../03MAIR---Algoritmos-de-Optimizacion---2019/tree/master/SEMINARIO<br>
## **Problema:**
> 1. Elección de grupos de población homogéneos <br>
>**2. Organizar los horarios de partidos de La Liga**<br>
>3. Combinar cifras y operaciones

## **Descripción del problema:**



(*) La respuesta es obligatoria

Desde la La Liga de fútbol profesional se pretende organizar los horarios de los partidos de liga de cada jornada. Se conocen algunos datos que nos deben llevar a diseñar un algoritmo que realice la asignación de los partidos a los horarios de forma que **maximice
la audiencia**. 

Los horarios disponibles se conocen a priori y son los siguientes:

In [4]:
from tabulate import tabulate

horarios = {'Días': ['Viernes', 
                     'Sábado', 
                     'Domingo', 
                     'Lunes'],
         'Horas': [20,
                  [12,16,18,20],
                  [12,16,18,20],
                   20]}

print(tabulate(horarios, headers=['Días','Horas'], tablefmt='grid'))

+---------+------------------+
| Días    | Horas            |
+=========+==================+
| Viernes | 20               |
+---------+------------------+
| Sábado  | 12,16,18,20      |
+---------+------------------+
| Domingo | [12, 16, 18, 20] |
+---------+------------------+
| Lunes   | 20               |
+---------+------------------+

En primer lugar se clasifican los equipos en tres categorías según el número de seguidores que tienen relación directa con la audiencia. Hay **4 equipos** en la **categoría A**, **10 equipos** de **categoría B** y **6 equipos** de **categoría C**.

Se conoce estadisticamente la audiencia que genera cada partido según los equipos que se enfrentan y en horario de sábado a las 20h (el mejor en todos los casos)

In [5]:
audiencia = {'Categorías': ['Categoría A', 
                            'Categoría B', 
                            'Categoría C'],
             'Categoría A': ['2 Millones',
                             '',
                             ''],
             'Categoría B': ['1.3 Millones',
                             '0.9 Millones',
                             ''],
             'Categoría C': ['1 Millón',
                             '0.75 Millones',
                             '0.47 Millones']}

print(tabulate(audiencia, headers=['Categorías','Categoría A','Categoría B', 'Categoría C'], tablefmt='grid'))

+--------------+---------------+---------------+---------------+
| Categorías   | Categoría A   | Categoría B   | Categoría C   |
+==============+===============+===============+===============+
| Categoría A  | 2 Millones    | 1.3 Millones  | 1 Millón      |
+--------------+---------------+---------------+---------------+
| Categoría B  |               | 0.9 Millones  | 0.75 Millones |
+--------------+---------------+---------------+---------------+
| Categoría C  |               |               | 0.47 Millones |
+--------------+---------------+---------------+---------------+

Si el horario del partido no se realiza a las 20 horas del sábado se sabe que se reducen según los coeficientes de la siguiente tabla:

In [6]:
coef = {'Horas': ['12h', 
                  '16h', 
                  '18h',
                  '20h'],
             'Viernes': ['',
                         '',
                         '',
                         0.4],
             'Sábado': [0.55,
                         0.7,
                         0.8,
                         1],
             'Domingo': [0.45,
                         0.75,
                         0.5,
                         1],
             'Lunes': ['',
                         '',
                         '',
                         0.4]}

print(tabulate(coef, headers=['Horas','Viernes','Sábado', 'Domingo','Lunes'], tablefmt='grid'))

+---------+-----------+----------+-----------+---------+
| Horas   | Viernes   |   Sábado |   Domingo | Lunes   |
+=========+===========+==========+===========+=========+
| 12h     |           |     0.55 |      0.45 |         |
+---------+-----------+----------+-----------+---------+
| 16h     |           |     0.7  |      0.75 |         |
+---------+-----------+----------+-----------+---------+
| 18h     |           |     0.8  |      0.5  |         |
+---------+-----------+----------+-----------+---------+
| 20h     | 0.4       |     1    |      1    | 0.4     |
+---------+-----------+----------+-----------+---------+

Debemos asignar obligatoriamente siempre un partido el viernes y un partido el lunes.

Es posible la coincidencia de horarios pero en este caso la audiencia de cada partido se verá afectada y se estima que se reduce en porcentaje según la siguiente tabla dependiendo del número de coincidencias:

In [7]:
coinc = {'Coincidencias': [0, 
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8],
         '%': [0, 
                          25,
                          45,
                          60,
                          70,
                          75,
                          78,
                          80,
                          80],
             }

print(tabulate(coinc, headers=['Coincidencias','%'], tablefmt='grid'))

+-----------------+-----+
|   Coincidencias |   % |
+=================+=====+
|               0 |   0 |
+-----------------+-----+
|               1 |  25 |
+-----------------+-----+
|               2 |  45 |
+-----------------+-----+
|               3 |  60 |
+-----------------+-----+
|               4 |  70 |
+-----------------+-----+
|               5 |  75 |
+-----------------+-----+
|               6 |  78 |
+-----------------+-----+
|               7 |  80 |
+-----------------+-----+
|               8 |  80 |
+-----------------+-----+

## (*)¿Cuantas posibilidades hay sin tener en cuenta las restricciones?<br>



## ¿Cuantas posibilidades hay teniendo en cuenta todas las restricciones.

Respuesta

En primer lugar, vamos a analizar aquello que se nos solicita en el ejercicio. 

Tenemos 20 equipos de fútbol que generan 10 partidos en cada jornada de la Liga. Se nos solicita organizar las jornadas en un horario de manera que se **maximice la audiencia**. 

Se nos imporne que se juegue un partido el viernes y otro el Lunes. Además, se penaliza la coinciencia de partidos en el mismo horario.

Para estimar la audiencia, se categorizan nuestros equipos en tres categorías A,B y C. En función de la combinación de dichas categorías y el horario en el que se produzca el partido, se obtiene un índice de audiencia.


En segundo lugar, se nos cuestiona cuántas posibilidades existen sin tener en cuenta las restricciones y cuántas existen teniendo en cuenta las restricciones.

* Sin tener en cuenta las restricciones:

Nos encontramos ante una permutación de 10 elementos en los cuales no importa el orden, ni existen repeticiones. Por lo tanto, las posibilidades son 10!.

* Si tenemos en cuenta las restricciones:

En este caso, tenemos en cuenta la existencia de 20 equipos, donde cada equipo juega contra todos los demás a doble vuelta, por lo que el orden es importante. La solución radica en calcular las variaciones sin repetición de 20 elementos tomados de 2 en 2.

V20,2 = 20*19=380

Modelo para el espacio de soluciones<br>
(*) ¿Cual es la estructura de datos que mejor se adapta al problema? Argumentalo.(Es posible que hayas elegido una al principio y veas la necesidad de cambiar, arguméntalo)

Respuesta

Algunas de las principales estructuras de datos contenidas en Python son:

*   Listas
*   Tuplas
*   Conjuntos
*   Diccionarios

Parece lógico pensar, que la mayoría de nuestros datos estarán contenidos tanto en listas como en diccionarios. De hecho, en la primera de las cuestiones donde detallamos el enunciado del problema, ya hemos hecho uso de diccionarios para la creación de las tablas.

Pero de pronto aparece una famosa librería en Python que revoluciona las estructuras de datos con una potencia descomunal, hablamos de **Pandas** y sus **DataFrames**. Pandas es una librería de Python que proporciona estructuras de datos rápidas, flexibles y expresivas. Su objetivo es ser el pilar fundamental de alto nivel para realizar análisis de los datos “relacionales” o “etiquetados” de una manera intuitiva. 

Por estos motivos, nuestra primera opción será afrontar el problema empleando **DataFrames**.

## Según el modelo para el espacio de soluciones<br>
(*)¿Cual es la función objetivo?

(*)¿Es un problema de maximización o minimización?

Respuesta

* Función Objetivo

Si denotamos como (a1,...,a10) las audiencias de cada partido y como (c1,...,c10) los coeficientes de reducción de las audiencias, podemos definir nuestra función objetivo como:

f(a1, ..., an) = c1·a1 + ... + cn·an = sumatorio (ai*ci) donde i = 1,..,10

* Maximización o minimización:

Se trata de un problema de maximización. Queremos maximizar la audiencia para cada una de las jornadas.

## Diseña un algoritmo para resolver el problema por fuerza bruta

Respuesta

De forma previa al planteamiento del algoritmos, vamos a realizar el preprocesado de los datos. Dicha fase, consistirá en la creación de nuestras fuentes de datos, su estructura y la limpieza de los mismos.

### Preprocesado de datos
#### Estructura de datos

* Equipos de la Liga y categoría

In [0]:
# Creamos el DataFrame que contenga los equipos de la Liga y su categoría.
# Para ello creamos primero un diccionario y luego lo convertimos en un DataFrame

# Utilizaremos la clasificación de la temporada 2018-2019

equip = {'Equipo': ['Barcelona',
                     'Atlético_Madrid',
                     'Real_Madrid',
                     'Valencia',
                     'Getafe',
                     'Sevilla',
                     'RCD_Espanyol',
                     'Ath_Bilbao',
                     'Real_Sociedad',
                     'Betis',
                     'Alavés',
                     'Eibar',
                     'Leganés',
                     'Villarreal',
                     'Levante',
                     'Valladolid',
                     'Celta_Vigo',
                     'Girona',
                     'SD_Huelva',
                     'Rayo_Vallecano'],
          'Categoría': ['A',
                       'A',
                       'A',
                       'A',
                       'B',
                       'B',
                       'B',
                       'B',
                       'B',
                       'B',
                       'B',
                       'B',
                       'B',
                       'B',
                       'C',
                       'C',
                       'C',
                       'C',
                       'C',
                       'C'],
        'Categoria_numerica': [1,
                              1,
                              1,
                              1,
                              2,
                              2,
                              2,
                              2,
                              2,
                              2,
                              2,
                              2,
                              2,
                              2,
                              3,
                              3,
                              3,
                              3,
                              3,
                              3]}

import pandas as pd

equipos = pd.DataFrame(data=equip)

In [27]:
# Comprobamos que se han cargado de forma correcta nuestros equipos
equipos

             Equipo Categoría  Categoria_numerica
0         Barcelona         A                   1
1   Atlético_Madrid         A                   1
2       Real_Madrid         A                   1
3          Valencia         A                   1
4            Getafe         B                   2
5           Sevilla         B                   2
6      RCD_Espanyol         B                   2
7        Ath_Bilbao         B                   2
8     Real_Sociedad         B                   2
9             Betis         B                   2
10           Alavés         B                   2
11            Eibar         B                   2
12          Leganés         B                   2
13       Villarreal         B                   2
14          Levante         C                   3
15       Valladolid         C                   3
16       Celta_Vigo         C                   3
17           Girona         C                   3
18        SD_Huelva         C                   3
19   Rayo_Vallecano         C                   3

* Horarios y coeficiente de reducción

In [0]:
# Creamos el DataFrame que contenga los horarios y los correspondientes coeficientes de reducción
# Para ello creamos primero un diccionario y luego lo convertimos en un DataFrame


horario = {'Horario': ['Viernes_20:00h',
                     'Sábado_12:00h',
                     'Sábado_16:00h',
                     'Sábado_18:00h',
                     'Sábado_20:00h',
                     'Domingo_12:00h',
                     'Domingo_16:00h',
                     'Domingo_18:00h',
                     'Domingo_20:00h',
                     'Lunes_20:00h'],
          'Coef': [0.4,
                   0.55,
                   0.7,
                   0.8,
                   1,
                   0.45,
                   0.75,
                   0.5,
                   1,
                   0.4]}



horarios = pd.DataFrame(data=horario)

In [9]:
horarios.head()

          Horario  Coef
0  Viernes_20:00h  0.40
1   Sábado_12:00h  0.55
2   Sábado_16:00h  0.70
3   Sábado_18:00h  0.80
4   Sábado_20:00h  1.00

* Audiencia

In [0]:
# Creamos el DataFrame que contenga las audiencias atendiendo a la categoría de los equipos que se enfrentan


aud = {'Encuentro': ['A_vs_A',
                     'A_vs_B',
                     'A_vs_C',
                     'B_vs_B',
                     'B_vs_C',
                     'C_vs_C'],
       'Audiencia': [2000000,
                    1300000,
                    1000000,
                    900000,
                    750000,
                    470000]}



audiencia = pd.DataFrame(data=aud)

In [12]:
audiencia

  Encuentro  Audiencia
0    A_vs_A    2000000
1    A_vs_B    1300000
2    A_vs_C    1000000
3    B_vs_B     900000
4    B_vs_C     750000
5    C_vs_C     470000

* Coeficientes por coincidencia de horario

In [0]:
# Creamos el DataFrame que contenga los coeficientes atendiendo a la categoría de los equipos que se enfrentan

coinc = {'Coincidencias': [0, 
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8],
         '%': [0, 
               25,
               45,
               60,
               70,
               75,
               78,
               80,
               80]}


coef_coinc = pd.DataFrame(data=coinc)

In [14]:
coef_coinc.head()

   Coincidencias   %
0              0   0
1              1  25
2              2  45
3              3  60
4              4  70

#### Jornada aleatoria

Como paso previo a la resolución del problema por el método de fuerza bruta, vamos a crear una función que genere una jornada de forma aleatoria.

In [0]:

# En primer lugar permutamos de forma aleatoria los equipos

from sklearn.utils import shuffle
mezcla = shuffle(equipos) #función shuffle

# A continuación creamos la jornada agrupando el dataset mezcla de dos en dos.
# Conservaremos la categoría de cada equipo para poder calcular la audiencia.

jornada = pd.DataFrame(columns=('Categoria','Partido'))          
  
for i in range(0,len(mezcla),2):    # recorro mezcla                                     
    # Creo la Categoría
    C1 = mezcla.iloc(axis=0)[i]['Categoria_numerica']                            
    C2 = mezcla.iloc(axis=0)[i+1]['Categoria_numerica']
    
    #ordeno la categoria, que sea un Celta Madrid o un Madrid Celta, no es lo mismo a nivel de quién juega como local pero,
    #para calcular la audiencia, es irrelevante
    
    # Asignamos a la categoría un valor numérico: A->1, B->2, C->3
    
    if C1 < C2:
      C = mezcla.iloc(axis=0)[i]['Categoría'] +'_'+ mezcla.iloc(axis=0)[i+1]['Categoría'] # Categoria del partido (mismo formato definido anteriormente)
      encuentro = mezcla.iloc(axis=0)[i]['Equipo'] + ' vs '+ mezcla.iloc(axis=0)[i+1]['Equipo'] # partido
    
    else:
      C = mezcla.iloc(axis=0)[i+1]['Categoría'] +'_'+ mezcla.iloc(axis=0)[i]['Categoría']
      encuentro = mezcla.iloc(axis=0)[i+1]['Equipo'] + ' vs '+ mezcla.iloc(axis=0)[i]['Equipo'] # partido
  
    # Asignamos fila al DF (enfrentamiento entre dos equipos)
    jornada.loc[len(jornada)]=[C,encuentro]

In [44]:
jornada

  Categoria                           Partido
0       B_C             Leganés vs Valladolid
1       A_C           Barcelona vs Celta_Vigo
2       A_B  Atlético_Madrid vs Real_Sociedad
3       B_B                 Sevilla vs Alavés
4       A_B             Real_Madrid vs Getafe
5       B_C           Betis vs Rayo_Vallecano
6       B_C                   Eibar vs Girona
7       C_C              SD_Huelva vs Levante
8       B_B        RCD_Espanyol vs Ath_Bilbao
9       A_B            Valencia vs Villarreal

In [0]:
# Creamos una jornada de forma aleatoria
def crear_jornada_aleatoria(equipos_liga):
  df = equipos_liga.iloc[np.random.permutation(len(equipos_liga))]#ordenacion aleatoria
  return df

jornada_aleatoria = crear_jornada_aleatoria(equipos_liga)# Obtener jornada aleatoria

# Creacion de un DF con las columnas:
#    - Numero generado por el código ASCII de las clases de los equipos  (cat_num)
#    - Calase del partido (categoria)
#    - Nombre de los equipos que se enfrentan (equipos)

# Cada fila contiene los datos de un enfrentamiento

def crear_DF_jornada(df_original):
  df_jornada = pd.DataFrame(columns=('cat_num','categoria','equipos'))          # 1
  
  for i in range(0,len(df_original),2):                                         # n/2
    # obtener valor de la categoria de cada equipo (A, B o C):
    cat_1 = df_original.iloc(axis=0)[i]['categoria']                            
    cat_2 = df_original.iloc(axis=0)[i+1]['categoria']
  
    # Para una correcta orgonizacion de los partidos de mayor a menor audiencia, 
    # debemos de tener en cuenta que aunque es lo mismo un partidos AC que CA, en
    #cuanto audiencia, no es lo mismo en ordenacion del valor.
    # AC = 6567 y CA= 6765 nos interesa la cominacion de AC no la de CA. Para que
    # sea asi usamos el siguiente condicional
    if cat_1 < cat_2:
      cp = cat_1 + cat_2 # Categoria del partido
      cn = int(str(ord(cat_1)) + str(ord(cat_2)))# Categoria numerica
      nom = df_original.iloc(axis=0)[i]['nombre'] + '  - vs -  '+ df_original.iloc(axis=0)[i+1]['nombre']# nombre de equipos
    
    else:
      cp = cat_2 + cat_1 # Categoria del partido
      cn = int(str(ord(cat_2)) + str(ord(cat_1)))# Categoria numerica
      nom = df_original.iloc(axis=0)[i+1]['nombre'] + '  - vs -  '+ df_original.iloc(axis=0)[i]['nombre']
  
    # Asignamos fila al DF (enfrentamiento entre dos equipos)
    df_jornada.loc[len(df_jornada)]=[cn,cp,nom]
    
  return df_jornada

# obtener un DF con los partidos de forma legible
df_jornada = crear_DF_jornada(jornada_aleatoria)

Calcula la complejidad del algoritmo por fuerza bruta

Respuesta

(*)Diseña un algoritmo que mejore la complejidad del algortimo por fuerza bruta. Argumenta porque crees que mejora el algoritmo por fuerza bruta

Respuesta

(*)Calcula la complejidad del algoritmo

Respuesta

Según el problema (y tenga sentido), diseña un juego de datos de entrada aleatorios

Respuesta

Aplica el algoritmo al juego de datos generado

Respuesta

Enumera las referencias que has utilizado(si ha sido necesario) para llevar a cabo el trabajo

Respuesta

Describe brevemente las lineas de como crees que es posible avanzar en el estudio del problema. Ten en cuenta incluso posibles variaciones del problema y/o variaciones al alza del tamaño

Respuesta